body{
    
    background: rgb(250, 253, 251);
    font-family: 'Roboto Condensed', sans-serif;    
    font-size: 20px;
    color: rgb(7, 7, 7);
    background-image: url();
    background-size: cover;
    margin: 0;
    

}
a {
    color: #ff5E84;
    font-weight: bold;
}
main{
  margin-top: 32px 0;

}

p{
text-align: center;

}      
button{
    color: #ff5E84;
    border: none;
    font-weight: bold;
    background: none;
    cursor: pointer;
    outline: none;


}

button:hover {

text-decoration: underline;




}
button.fat{
    text-decoration: none;
    width: 150px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.25)
    

}


.fat {
color: rgb(250, 246, 244);
background: rgb(236, 140, 156);
}

#buttons{

        margin-bottom: 802px;
        display: flex;
        justify-content: space-evenly;
        font-weight: bold;
}
#container{

    width: 90%;
    max-width: 980px;
    max-width: 980px;
    margin: 40px auto;
    display: flex;
   
}

#intro{
    width: 300px;
    margin-right: 20px;
}